@charset "UTF-8";
/* reset */
/* main variables */

body {
 margin: 0px;
 padding: 0px;
 font-family: Arial, sans-serif;
 background-color: #FFF;
 height: 100%;
 line-height: 1;
 position: relative;
 font-size: 14px !important;
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
 margin: 0;
 padding: 0;
 border: 0;
 font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
 display: block;
}
a{
	list-style-type: none;
}
.header{
	height:100px;
	background-color:#fff;
	margin:0;
}
#top{
	text-align:right;
   	position: fixed;
    top: 85%; 
    transition: top 0.3s; 
}
#top a:hover{
	opacity:0.7;
}

.logo{
	float:left;
	margin:5px;

}
.logo{
		width:520px;
		height:90px; 
	}
.menu ul{
	margin:0;
	padding:0;
	line-height:90px;
	padding-left:70px;
	padding:10px;
	padding-top:10px;
	text-align:right;
}
.menu ul li{
	transition:0.5s;
	display:inline-block;
	font-family:Trebuchet MS;
	color:#000;
	padding:0 20px;
	font-size:25px;
}
.menu ul li:hover{
	transition:0.9s;
	background:#294c78;
	color:#fff;

}
.img1{
	height:85%;
	width:100% 

}
.center-bar-text{
	text-align:center;
	font-family:Trebuchet MS;
	color:#fff;
	font-size:40px;
}
.center-bar-text h1{
	font-size:80px;
	margin-bottom:4%;
}
.center-bar {
	margin-top:2%;
    display:inline-block;   
    position:absolute;
    top:13%;
}
.center-bar .center-bar-text {
    display:block;
    position:absolute;
    left:0;
    bottom:85%;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; 
     
    color:#fff;
    padding:10px;
    background-color:rgba(0,0,0,0);
 
     
}
.center-bar-next2{
	text-align:center;
	margin:10% 12%;
	padding-right:5%;

}
.center-bar-next2 div p{
	color:grey;
	font-family:Trebuchet MS ;
	font-size:20px;
	margin-top:10%;
	border-top:2px solid #293d78;
	text-align:left;
}
.bar-1{
	float:right;
	background:#fff;
	width:300px;
	margin-right:1%;
}
.bar-2{
	float:right;
	background:#fff;
	width:300px;
	margin-right:10%;

		
}

.bar-3{
	background:#fff;
	width:300px;
	margin-left:-1%;
}
.img-center{
	width:100%;
}
.img-in-bar{
	width:350px;
	height:200px;
	border-bottom:10px solid #293d78;
	border-radius:5px;
	margin-bottom:3%;
}
.img-center{

}
.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:50%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
}
}
.img-p-h2{
	margin-bottom:50%;
	font-size:70px;
	color:#fcfafa;
}
.center-bar-next-img h2{
	text-align:left;
}
.header{
	border-top:7px solid #293d78;
}
.span-1{
	text-align:center;
	font-size:25px;
	font-family:Trebuchet MS;
	font-weight:bold;
}
.small-box1{
	float:right;
	font-family:Trebuchet MS; 
	font-size:20px;
	width:20%;
	margin:5% 20%;
}
.small-box2{
	font-family:Trebuchet MS; 
	font-size:20px;
	width:20%;
	margin:5% 20%;
}

.small-box1 p{
	border-top:2px solid grey;
	color:grey;
}
.small-box2 p{
	border-top:2px solid grey;
	color:grey;
}
.small-box1 img{
	margin-bottom:7%;
}
.small-box2 img{
	margin-bottom:7%;
}
.small-img{
	margin-left:20%;
}
.small-span{
	font-size:28px;
	font-family:Trebuchet MS;
	margin-top:8%;

	margin-left:20%;
}
footer{
	margin-top:3%;
	background:#32353e;
	width:100%;
	height:150px;
	padding-top:5%;
}
.span{
	font-family:Microsoft Yi Baiti;
	font-size:25px;
	color:#fff;
	position:absolute;
	left:40%;
	top:97%;


}
.logo2{
	width:520px;
	height:90px;
}
footer .logo2{
	position:absolute;
	left:30%;
	top:93%;
}











































*{
	transition:0.5s;
}








@media (max-width:2500px){
	.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:74%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
}

@media (max-width:2000px){
	.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:70%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
}

@media (max-width:1600px){
	.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:72%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
}


@media (max-width:1555px){
	.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:68%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
}


@media (max-width:1400px){
	.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:68%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
	.img-p-h2{
		font-size:60px;
	}
}


@media (max-width:1370px){
	.img-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:65%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
	.img-p-h2{
		font-size:60px;
	}
}


@media (max-width:1350px){
	.img-p-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:84%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
	.img-p-h2{
		font-size:60px;
	}
}

@media (max-width:1270px){
	.img-p-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:83%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
	.img-p-h2{
		font-size:60px;
	}
	.center-bar-next-img div h2{
		font-size:30px;
	}
}

@media (max-width:1150px){
	.img-p-p{
	text-align:left;
	position:absolute;
	right:4%;
	top:85%;
	width:600px;
	margin-right:3%;
	text-align:center;
	font-family:Trebuchet MS;
	font-size:40px;
	color:#fff;
	}
	.img-p-h2{
		font-size:60px;
	}
	.center-bar-next-img div h2{
		font-size:30px;
	}
	.img-p-p h2{
		width:60%;
	}
}

@media (max-width:1000px){
	.img-p-p-p{
	margin-top:70%;
	margin-left:30%;
	}
	
}

@media (max-width:900px){
	.img-p-p-p{
	margin-top:105%;
	margin-margin:10%;
	}
	
}

@media (max-width:800px){
	.img-p-p-p{
		position:absolute;
		right:-60%;
		width:110%;
		margin-top:80%;
	}
	
}

@media (max-width:680px){
	.img-p-p-p{
		position:absolute;
		right:-50%;
		width:110%;
		margin-top:70%;
	}
	
}

@media (max-width:460px){
	.img-p-p-p{
		position:absolute;
		right:-50%;
		width:110%;
		margin-top:80%;
	}
	
}
@media (max-width:410px){
	.center-bar-next-img div h2{
		font-size:25px;
	}
	.center-bar-next-img div h2 span{
		font-size:35px;
	}
	.img-p-p-p{
		position:absolute;
		right:-55%;
		width:110%;
		margin-top:90%;
	}
	.center-bar-next-img img{
		height:300px;
	}
	
}
@media (max-width:400px){

	.center-bar-next2 div{
		margin-bottom:100%;
	}
	.img-p-p-p{
		margin-top:93%;
		width:80%;
		margin-right:10%;
	}
}
	
@media (max-width:360px){
	.img-p-p-p{
		margin-top:80%;
		width:80%;
		margin-right:10%;
	}

}

@media (max-width:340px){
	.img-p-p-p{
		margin-top:75%;
		width:70%;
		margin-right:20%;
	}
	.center-bar-next-img div div div h2{
		font-size:20px;
	}
	.center-bar-next-img div div div h2 span{
		font-size:30px;
	}

}
@media (max-width:340px){
	.img-p-p-p{
		margin-top:85%;
		width:70%;
		margin-right:20%;
	}
	.center-bar-next-img div div div h2{
		font-size:20px;
	}
	.center-bar-next-img div div div h2 span{
		font-size:30px;
	}

}

@media  (max-width:1250px){
	.logo{
		width:400px;
		height:60px;
	}
}

@media  (max-width:1100px){
.menu ul li{
	font-size:20px;
	}
}

@media  (max-width:1000px){
	.logo{
		margin-top:3%;
		width:300px;
		height:40px;
	}
	.logo2-div img{
		margin-top:7%; 
	}
	
}

@media (max-width:740px){
	.for-img1 img{
		height:500px;
	}
	
}

@media (max-width:940px){

	.logo {
		width:380px;
		height:50px;
		margin-left:30%;
	}

	.menu ul{
	margin-top:8%;
	margin-bottom:50%;
	position: absolute;
	left:20%;
	}

	.img1{
		position:absolute;
		top:3%;
		height:500px;
	}

	 .center-h{
	 	font-size:15px;
	 }
	 .center-bar-next2{
	 	margin-top:70%;
	 }
	 
	
	 .center-bar-text{
	 	position:absolute;
	 	top:8%;
	 }
	 .img-center{
	 	height:350px;
	 }
	 .img-p{
	 	width:400px;
	 	font-size:10px;
	 	position:absolute;
	 	top:66%;
	 	left:48.99%;
	 }
	 .img-p-h2{
	 	font-size:15px;
	 }

}

@media  (max-width:1400px){

	.img-p{
		margin-top:5%;
	}

}

@media  (max-width:1270px){
	.img-center{
		height:500px;
	}
	.img-p{
		margin-right:10%;
		width:400px;
	}
	}

@media  (max-width:1150px){

	.img-p{
		margin-right:15%;
		width:250px;
		height:50px;
	}
	.img-center{
		height:400px;
	}
	.img-p{
	 	font-size:30px;
	 }
	 .img-p-h2{
	 	font-size:50px;
	 }
	}




@media (max-width:1260px){

	.img-p-h2{

		font-size:45px;
	}

	.img-p{
		position:absolute;
		top:90%;
		font-size:35px;
	}

}


@media  (max-width:940px){
		.img1{
			margin-top:-10%;
		}
		.center-bar-text{

		}

		.center-h1{
			margin-top:5%;
		}
		.center-h{
			margin-top:;
		}
		.center-bar{
			margin-top:8%;
		}
	}

@media (max-width:1550px){

		.bar-1{
			width:250px;
		}
		.bar-2{
			width:250px;
			margin-right:15%;
		}
		.bar-3{
			width:250px;
		}
		.img-in-bar{
			width:250px;
			height:100px;
		}

}
@media (max-width:1200px){
	.center-bar-text{
		margin-top:-5%;
	}
	.center-h1{
		font-size:20px;
	}
	.center-h{
		font-size:30px;
	}
}

@media (max-width:1000px){

	.center-bar-text{
		margin-top:-10%;
	}

}
@media (max-width:1300px){

		.logo2{
			margin-top:10%;
			width:470px;
			height:60px;
		}
		.span{
			margin-top:4%;
		}
				
		footer{
			height:120px;
		}
		
	}

@media (max-width:1350px){

		.logo2{
			margin-top:10%;
			width:470px;
			height:60px;
		}
		.span{
			margin-top:4%;
		}
				
		footer{
			height:120px;
		}
		
	}

@media (max-width:1120px){

		.logo2{
			margin-top:15%;
			width:470px;
			height:60px;
		}
		.span{
			margin-top:6%;
		}
				
		footer{
			height:120px;
		}
		
	}

@media (max-width:930px){
		.logo2-div img{
			margin-top:10%;
		}

		.logo2{
			
			width:370px;
			height:40px;
		}
		.span{
			margin-top:6%;
		}
				
		footer{
			height:100px;
		}
		
	}

@media (max-width:850px){

		.logo2{
			margin-left:-5%;
			margin-top:23%;
			width:370px;
			height:40px;
		}
		.span{
			margin-left:-5%;
			margin-top:8%;
		}
				
		footer{
			height:100px;
		}
		.img-center-p-h2{
			position:absolute;
			right:60%;
			top:76%;
		}
		.img-p{
			
			
			font-size:40px;
		}
		.img-p-h2{
			
			font-size:55px;
		}
		.bar-1 p{
			font-size:5px;
		}
		
		
	}

@media (max-width:770px){

		.logo2{
			margin-top:27%;
			width:370px;
			height:40px;
		}
		.span{
			margin-top:10%;
		}
				
		footer{
			height:100px;
		}
		.center-bar-next2{
			margin-top:80%;
		}
		
	}

@media (max-width:710px){

		.logo2{
			margin-top:30%;
			width:370px;
			height:40px;
		}
		.span{
			margin-top:13%;
		}
				
		footer{
			height:100px;
		}
		
	}

@media (max-width:660px){

		.logo2{
			margin-top:35%;
			width:370px;
			height:40px;
		}
		.span{
			margin-top:16%;
		}
				
		footer{
			height:100px;
		}
		.img-center-p-h2{
			position:absolute;
			right:70%;
			top:77%;
		}
		.img-p{
			
			font-size:40px;
		}
		.img-p-h2{
			
			font-size:55px;
		}
		
	}

@media (max-width:480px){

		.logo2{
			margin-top:35%;
			width:370px;
			height:40px;
		}
		.span{
			margin-top:16%;
		}
				
		footer{
			height:100px;
		}
		.img-center-p-h2{
			position:absolute;
			right:80%;
			top:78%;
		}
		.img-p{
			
			font-size:35px;
		}
		.img-p-h2{
			
			font-size:50px;
		}
		
	}

@media (max-width:600px){

		.logo2{
			margin-top:40%;
			width:370px;
			height:40px;
		}
		.span{
			margin-top:19%;
		}
				
		footer{
			height:100px;
		}
		
	}

@media (max-width:1350px){
		.bar-1{
		float:inherit;
			width:70%;
			margin:8% 18%;

		}
		.bar-2{
			float:inherit;
			width:70%;
			margin:8% 18%;
		}
		.bar-3{
			float:inherit;
			width:70%;
			margin:8% 18%;
		}
		.img-in-bar{
			width:450px;
			height:300px;
		}
		
		.center-bar-next2 div p{
			font-size:35px;
		}
		.span-1{
			margin-right:8%;
			font-size:30px;
		}
		.center-bar-text{
			position:absolute;
			top:5%;
		}
		.img-p{
			position:absolute;
			top:74%;
		}
}

@media (max-width:560px){

	.logo2{
		margin-top:45%;
		width:300px;
		height:35px;
	}
	.span{
		font-size:18px;
	}


}

@media (max-width:515px){

	.logo2{
		margin-top:50%;
		width:300px;
		height:35px;
	}
}
@media (max-width:560px){

	.logo2{
		margin-top:55%;
		width:300px;
		height:35px;
	}
}
@media (max-width:1000px){
	.center-bar-next2 div p{
		font-size:20px;
	}
	.center-bar-next2{
		margin-bottom:5%;
	}
		.img-center-p-h2{
			position:absolute;
			right:20%;
			top:70%;
		}
}

@media (max-width:680px){
	.img-in-bar{
		width:400px;
		height:250px;	
	}
	
}
@media (max-width:550px){
	.img-in-bar{
		width:300px;
		height:150px;	
	}
	.bar-1{
		width:90%;
	}
	.bar-2{
		width:90%;
	}
	.bar-3{
		width:100%;
	}
}
@media (max-width:940px){
		.img-center-p-h2{
			position:absolute;
			right:50%;
			top:70%;
		}
}
@media (max-width:800px){
		.img-center-p-h2{
			position:absolute;
			right:60%;
			top:69%;
		}
}

@media (max-width:740px){
		.img-center-p-h2{
			position:absolute;
			right:60%;
			top:68%;
		}
}

@media (max-width:680px){
		.img-center-p-h2{
			position:absolute;
			right:70%;
			top:66%;
		}
}
@media (max-width:580px){
		.img-center-p-h2{
			position:absolute;
			right:80%;
			top:66%;
		}
}
@media (max-width:550px){
		.img-center-p-h2{
			position:absolute;
			right:80%;
			top:63%;
		}
		.img-in-bar{
			width:;

		}
}
@media (max-width:490px){
		.img-center-p-h2{
			position:absolute;
			right:85%;
			top:62%;
		}
}
@media (max-width:410px){
		.img-center-p-h2{
			position:absolute;
			right:93%;
			top:62%;
		}
}
@media (max-width:930px){
	.span{
		margin-top:;
	}
	.logo2{
		margin-top:15%;
	}
}
@media (max-width:930px){
	.span{
		margin-top:7%;
	}
	.logo2{
		margin-top:17%;
	}
}
@media (max-width:600px){
	.span{
		margin-top:8%;
	}
	.logo2{
		margin-top:20%;
	}
}
@media (max-width:450px){
	.span{
		margin-top:9%;
	}
	.logo2{
		margin-top:25%;
	}
}
@media (max-width:740px){
	.menu ul li{

		color:#fff;
		background:#263846;
		margin-right:5%;
		padding-right:40%;
		margin-top:1%;
		padding-left:20%;

	}
	.menu ul li:hover{
		
		color:#000;
		background:#15c0c7;
		

	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:3%;

	}
	
	.center-bar{
		position:absolute;
		top:55%;
	}
	.center-bar-next2{
		margin-top:90%;
	}
	
	
	
}
@media(max-width: 610px){
	.center-bar-next2{
		margin-top:100%;
	}
}
@media(max-width:560px){
	.center-bar-next2{
		margin-top:105%;
	}
}




@media (max-width:900px){
	.small-box1{
		float:inherit;
		width:70%;
		font-size:35px;

		
		
	}
	.small-box2{
		float:inherit;
		width:70%;
		font-size:35px;
		

	}
	.small-span{
		
		font-size:35px;
	}
	.img-center-p-h2{
		position:absolute;
		top:65%;
	}
}
@media (max-width:750px){
	.logo2-div{
		position:absolute;
		left:25%; 
		bottom:3%;
	}
	.small-box1{
		float:inherit;
		width:70%;
		font-size:25px;

		
		
	}
	.small-box2{
		float:inherit;
		width:70%;
		font-size:25px;
		

	}
	.small-span{
		
		font-size:30px;
	}
}
@media(max-width:600px){
	.logo{
		margin-left:20%;
	}
}
@media(max-width:500px){
	.logo{
		margin-left:15%;
	}
}
@media(max-width:520px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:5%;
		padding-right:35%;
		margin-top:1%;
		padding-left:15%;
	}
}
@media(max-width:450px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:5%;
		padding-right:35%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:4%;
	}
	.logo{
		margin-left:10%;
	}
}
@media(max-width:410px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:2%;
		padding-right:32%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:4%;
	}
	.logo{
		margin-left:5%;
	}
}
@media (max-width:530px){
	.center-bar-next2{
		margin-top:120%;
	}
}
@media (max-width:460px){
	.center-bar-next2{
		margin-top:140%;
	}
}
@media (max-width:400px){
	.center-bar-next2{
		
	}
}
@media (max-width:450px){
	.center-h1{
		
	}
	.center-h{
		font-size:25px;
	}
	
}
@media (max-width:550px){
	.img-center-p-h2{
		position:absolute;
		top:60%;
	}
}
@media (max-width:425px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:8%;
		padding-right:32%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:4%;
	}
	.logo{
		margin-left:5%;
	}

}
@media (max-width:410px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:8%;
		padding-right:30%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
	.logo{
		margin-left:5%;
	}
	.center-bar div h1{
		font-size:50px;
		margin-top:20%;
	}

	.center-h{
		margin-top:;
	}
	.center-bar-next2{
		margin-top:150%;
		margin-right:50%; 
	}
	.bar-1{
		width:200%;
	}
	.bar-2{
		width:200%;
	}

	.bar-3{
		width:200%;
	}
	.span{
		margin-left:-15%;
	}
	.logo2-div{
		margin-left:-15%;
	}

}

@media (max-width: 400px){
	.logo{
		width:300px;
		height:;
	}
	.img1{
		height:300px;
	}
	.center-bar-next2{
	
		margin-right:70%; 
	}
	.bar-1{
		width:500%;
		
	}
	.bar-2{
		width:500%;
		
	}

	.bar-3{
		width:500%;
		
	}
}
@media (max-width: 360px){
	.logo{
		width:300px;
		height:;
	}
	.img1-p img{
		height:400px;
	}
	.center-bar-next2{
		margin-top:140%;
		margin-right:80%; 
	}
	.bar-1{
		width:2500%;
		margin-bottom:10%;
	}
	.bar-2{
		width:2500%;
		margin-bottom:10%;
	}

	.bar-3{
		width:2500%;
		margin-bottom:10%;
	}
	.img-center-p-h2 div h2{
		font-size:25px; 
	}
	.img-center-p-h2 div h2 span{
		font-size:40px; 
	}
}
@media (max-width:335px){
	.logo2-div{
		margin-bottom:4%;
		margin-left:-20%;
	}
	.img1{
		height:400px;
	}
	.img-in-bar{
		width:200px;
		height:100px;
	}
	.center-bar-next2{
		margin-top:160%;
		margin-right:80%; 
	}
	.bar-1{
		width:2500%;
		margin-bottom:3%;
	}
	.bar-2{
		width:2500%;
		margin-bottom:3%;
	}

	.bar-3{
		width:2500%;
		margin-bottom:3%;
	}
	.img-center-p-h2 div h2{
		font-size:25px; 

	}
	.img-center-p-h2 div h2 span{
		font-size:40px; 
	}
	.img-center{
		height:300px;
	}
	.small-box1{
		width:80%;
		margin-
	}
	.small-box2{
		width:80%;
	}
	.logo{
		width:250px;
	}
}
@media (max-width:324px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:3%;
		padding-right:30%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
	.logo2{
		width:250px;
	}
}
@media (max-width:295px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:1%;
		padding-right:30%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
}
@media (max-width:284px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:0%;
		padding-right:25%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
}
@media (max-width:257px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:-1%;
		padding-right:20%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
}
@media (max-width:236px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:-2%;
		padding-right:15%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
	.logo{
		width:170px;
		height:35px;
	}
}
@media (max-width:218px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:-3%;
		padding-right:10%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
	.logo{
		width:170px;
		height:35px;
	}
}
@media (max-width:202px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:-4%;
		padding-right:5%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
	.logo{
		width:170px;
		height:35px;
	}
}
@media (max-width:189px){
	.menu ul li{
		color:#fff;
		background:#263846;
		margin-right:-5%;
		padding-right:1%;
		margin-top:1%;
		padding-left:15%;
	}
	.menu ul{
		text-align:center;
		position:absolute;
		top:5%;
		left:3%;
	}
	.logo{
		width:170px;
		height:35px;
	}
}
@media (max-width:270px){
	.logo{
		width:200px;
		height:40px;
	}
	.center-bar-next2{
		margin-top:-50%;
	}
	.img-center{
		height:300px;
	}
	.center-bar-next2 div p{
		font-size:15px;
	}
	.center-bar-next2{
		margin-top:190%;
	}
	.img-p-p-p{
		margin-top:70%;
		width:70%;
		margin-right:22%;
	}
}
@media (max-height:525px){
	.img-img img{
		position: absolute;
		top:7%;
	}
	.center-bar-text h1{
		position: absolute;
		top:20%;
	}
	.center-bar-text h2{
		position: absolute;
		top:90%;
	}
	.center-bar-next2{
		margin-top:120%;
	}
}
@media (max-height:700px){
	.img-img img{
		position: absolute;
		top:5%;
	}
	.center-bar-text h1{
		position: absolute;
		top:15%;
	}
	.center-bar-text h2{
		position: absolute;
		top:80%;
	}
	.center-bar-next2{
		margin-top:120%;
	}
	.img-p{
		margin-top:20%;
	}
	.center-bar{
		position:absolute;
		top:60%;
	}
	.center-bar-next-img div {
		position: absolute;
		bottom:18%;
	}

}

@media (max-height:600px){
	.img-img img{
		position: absolute;
		top:7%;
	}
	.center-bar-text h1{
		position: absolute;
		top:20%;
	}
	.center-bar-text h2{
		position: absolute;
		top:90%;
	}
	.center-bar-next2{
		margin-top:160%;
	}
	.img-p{
		margin-top:30%;
	}
	.center-bar{
		position:absolute;
		top:70%;
	}
		
}


@media (max-height:500px){
	.img-img img{
		position: absolute;
		top:8%;
	}
	.center-bar-text h1{
		position: absolute;
		top:25%;
	}
	.center-bar-text h2{
		position: absolute;
		top:95%;
	}
	.center-bar-next2{
		margin-top:190%;
	}
	.img-p{
		margin-top:40%;
	}
	.center-bar{
		position:absolute;
		top:80%;
	}
	.center-bar-next-img div {
		position: absolute;
		bottom:22%;
	}
}


@media (max-width:452px){
	.center-bar-next2{
		margin-top:140%;
	}
}
@media (max-width:422px){
	.center-bar-next2{
		margin-top:150%;
	}
}
@media (max-width:320px){
	.center-bar-next2{
		margin-top:160%;
	}
}
@media (max-width:310px){
	.center-bar-next2{
		margin-top:170%;
	}
}
@media (max-width:290px){
	.center-bar-next2{
		margin-top:190%;
	}
}
@media (max-width:250px){
	.center-bar-next2{
		margin-top:200%;
	}
}
